@font-face {
    font-family: Iner;
    font-weight: 500;
    font-style: normal;
    src: local('Iner'),
        url('./fonts/Inter-Medium.ttf') format('ttf'),
        url('./fonts/Iner-Medium.woff2') format('woff2'),
        url('./fonts/Iner-Medium.woff') format('woff');
    font-display: swap;
}