@import url('./fonts/fonts.css');

.container {
    max-width: 942px;
    min-width: 400px;
    margin: 0 auto;
    height: 100vh;
}

.film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 40px;
}

.film-list_hidden {
    display: none;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alert-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}