@import url('./fonts.css');
.container {
    width: 1010px;
    padding: 0 36px;
    margin: 0 auto;
}
.film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 40px;
}
.film-list__item {
    box-shadow: 0 0 12px 0px #00000026;
    display: flex;
    width: 451px;
    height: 280px;
}
.film-card__image {
    width: 183px;
    height: 281px;
}
.film-card__content {
    font-family: Iner;
    margin-left: 20px;
    
}
.film-card__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 10px 0 7px 0;
}
.film-card__release-date {
    color: #827E7E;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 9px;
}
.film-card__genre {
    color: #827E7E;
    display: inline-block;
    margin-right: 12px;
    width: 46px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background-color: #FAFAFA;
}
.film-card__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-top: 7px;
}

.tabs-list {
    width: 150px;
    margin: 0 auto;
    display: flex;
    gap: 16px;
}
.search {
    width: 938px;
    margin: 0 auto;
}